@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
  background-color: white;
}

a,
.green {
  text-decoration: none;
  color: #007bff;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(216, 100%, 52%, 0.2);
  }
}
